<div class="container p-2">
  <h1>Edit Profile</h1>
  <form>
    <h3>About me</h3>
    <div class="form-group py-2">
      <label for="username">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name">
    </div>
    <div class="form-group py-2">
      <label for="username">Surname</label>
      <input type="text" class="form-control" id="surname" placeholder="Enter your surname">
    </div>
    <div class="form-group py-2">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter your username">
    </div>
    <div class="form-group py-2">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your password">
    </div>
    <div class="form-group py-2">
      <label for="phone-number">Phone number</label>
      <input type="text" class="form-control" id="phone-number" placeholder="Enter your phone number">
    </div>
    <div class="form-group py-2">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Enter your email">
    </div>
    <div class="form-group py-2">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="country" placeholder="Enter your country">
    </div>
    <h3>Education</h3>
    <div class="form-group py-2">
      <label for="degree">Degree</label>
      <input type="text" class="form-control" id="degree" placeholder="Enter your degree">
    </div>
    <div class="form-group py-2">
      <label for="university">University</label>
      <input type="text" class="form-control" id="university" placeholder="Enter your university">
    </div>
    <div class="form-group py-2">
      <label for="graduationYear">Graduation year</label>
      <input type="text" class="form-control" id="graduationYear" placeholder="Enter your graduation year">
    </div>
    <div class="form-group py-2">
      <label for="gpa">GPA</label>
      <input type="text" class="form-control" id="gpa" placeholder="Enter your gpa">
    </div>
    <br>
    <a type="submit" class="btn btn-info" href="/profile/{id}"><- Back</a>
    <button type="submit" class="btn btn-danger">Delete My Profile</button>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>


