
<!--<h1 class="text-center">Create an offer</h1>-->
<div class="container p-3">
    <!--    <h4>Company: Bla bla</h4>-->
    <form method="post" th:action="@{/offers/{id}/edit-offer(id=${offerEditView.getOfferId()})}">
        <!--
            Form for offer should have:
            - field
            - requirements
            - responsibilities
            - benefits
            - salary
            - start date
            - duration in weeks
            - select company


            TODO: thymeleaf, select dropdown options, i za edit
         -->
        <h4>Company info</h4>
        <div class="form-group">
            <p class="form-control" th:text="'Country:' + ${offerEditView.getCountryName()}"></p>
        </div>
        <div class="form-group">
            <p class="form-control" th:text="'Company:' + ${offerEditView.getCompanyName()}"></p>
        </div>
        <h4>Offer info</h4>
        <div class="form-group">
            <label for="field">Field of study:</label>
            <input type="text" id="field" name="field" th:value="${offerEditView.getField()}" class="form-control">
        </div>

        <div class="form-group">
            <label for="requirements">Requirements:</label>
            <input type="text" id="requirements" name="requirements" th:value="${offerEditView.getRequirements()}" class="form-control">
        </div>

        <div class="form-group">
            <label for="responsibilities">Responsibilities:</label>
            <input type="text" id="responsibilities" name="responsibilities" th:value="${offerEditView.getResponsibilities()}" class="form-control">
        </div>

        <div class="form-group">
            <label for="benefits">Benefits:</label>
            <input type="text" id="benefits" name="benefits" th:value="${offerEditView.getBenefits()}" class="form-control">
        </div>

        <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" id="salary" name="salary" th:value="${offerEditView.getSalary()}" class="form-control">
        </div>

        <div class="form-group">
            <label for="start-date">Start date:</label>
            <input type="date" id="start-date" name="start-date" th:value="${offerEditView.getStartDate()}" class="form-control">
        </div>

        <div class="form-group">
            <label for="duration">Duration (in weeks):</label>
            <input type="number" id="duration" name="duration" th:value="${offerEditView.getDurationInWeeks()}" class="form-control">
        </div>
        <h4>Accommodation info</h4>
        <div class="form-group">
            <label for="acc-phone">Phone </label>
            <input type="text" id="acc-phone" name="acc-phone" th:value="${offerEditView.getAccPhone()}" class="form-control">
        </div>
        <div class="form-group">
            <label for="acc-email">Email </label>
            <input type="text" id="acc-email" name="acc-email" th:value="${offerEditView.getAccEmail()}" class="form-control">
        </div>
        <div class="form-group">
            <label for="acc-address">Address </label>
            <input type="text" id="acc-address" name="acc-address" th:value="${offerEditView.getAccAddress()}" class="form-control">
        </div>
        <div class="form-group">
            <label for="acc-description">Description </label>
            <input type="text" id="acc-description" name="acc-description" th:value="${offerEditView.getAccDescription()}" class="form-control">
        </div>

        <!--        <div class="form-group">-->
        <!--            <label for="field8">Select company:</label>-->
        <!--            <input type="text" id="field8" name="field8" class="form-control">-->
        <!--        </div>-->

        <a  class="btn btn-info" href="/offers">&lt; Back</a>
        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>


