<div class="container text-center">
    <br>
    <h1>Welcome to My Website</h1>
    <p class="lead">Thank you for visiting!</p>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/login" class="btn btn-success">Login</a>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/register-as-student">as Student</a></li>
                <li><a class="dropdown-item" href="/register-as-member">as Member</a></li>
            </ul>
        </div>
    </div>
</div>