<div class="container text-center p-3">
    <h1>Welcome to My Website</h1>
    <p class="lead">Thank you for visiting!</p>
    <div class="row">
        <div class="col">
            <a href="/login" class="btn btn-success">Login</a>
        </div>
    </div>
    <div class="row p-2">
        <div class="col">
            <a href="/register-as-member" class="btn btn-primary">Register as member</a>
            <a href="/register-as-student" class="btn btn-primary">Register as student</a>
        </div>
    </div>
</div>