<header xmlns:th="http://www.w3.org/1999/html">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">АПЛИПРАКСА</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/home">Home</a>
                    </li>
                    <th:block>
                        <!--                <form th:action="@{'/offers'}" th:method="DELETE">-->
                        <!--                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></button>-->
                        <!--                </form>-->
                        <li class="nav-link">
                            <a th:if="${userCredentials != null}" class="nav-link" href="/offers">Offers</a>
                        </li>
                    </th:block>

                    <th:block sec:authorize="hasRole('ROLE_MEMBER')">
                        <!--                <form th:action="@{'/offers'}" th:method="DELETE">-->
                        <!--                    <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></button>-->
                        <!--                </form>-->
                        <li class="nav-link">
                            <!--          <form th:action="@{'/offers/{id}/edit-offer' (id=${product.getId()})}">-->
                            <!-- ID NA STUDENTOT -->
                            <a th:if="${userCredentials != null && userCredentials.getType() == 'student'}" class="nav-link" href="/applications">My Applications</a>
                        </li>
                        <li class="nav-link">
                            <a th:if="${userCredentials != null && userCredentials.getType() == 'member'}"
                               class="nav-link" href="/companies">Companies</a>
                        </li>
                    </th:block>

                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/about-us">About Us</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <!--          <a class="nav-link" href="#">-->
                    <!--            <th:block th:if="${#request.getRemoteUser()!=null}"-->
                    <!--                      th:text="${#request.getRemoteUser()}"/>-->
                    <!--          </a>-->
                    <a th:if="${userCredentials != null}" th:text="${userCredentials !=null} ? ${userCredentials.getType()}+' '+${userCredentials.getName()}+' '+${userCredentials.getSurname()}: Profile" class="btn btn-success btn-sm ml-3"
                       href="/profile">
                        <i class="fa fa-shopping-cart"></i> Profile
                    </a>
                    <th:block>
                        <a th:if="${userCredentials == null}" class="btn btn-success btn-sm ml-3" href="/login">Login</a>
                        <a th:if="${userCredentials != null}" class="btn btn-success btn-sm ml-3" href="/logout">Logout</a>
                    </th:block>
                </form>
            </div>
        </div>
    </nav>
</header>
